{% extends 'food/base.html' %}

{% block content %}

<div class="card mt-4" style="width: 18rem;">
    <img src="{{item.item_image}}" class="card-img-top" alt="...">
    <div class="card-body">      
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><h5 class="card-title">{{ item.item_name }}</h5></li>
        <li class="list-group-item"><p class="card-text">{{ item.item_desc }}</p></li>
        <li class="list-group-item"><p class="card-text">$ {{ item.item_price }}</p></li>
      </ul>
      <form method="POST" action="{% url 'food:delete_item' item.id %}">
        {% csrf_token %}
        <button class="btn btn-primary mb-2" type="submit">Delete</button>
      </form>
      <a href="{% url 'food:index' %}" class="btn btn-primary" >Go back</a>
    </div>
</div>

{% endblock %}